/*   MINE   */

@font-face {
  src: url("font/Laro-Bold.ttf");
  font-family: "laro";
}
@font-face {
  font-family: "SFPro";
  src: url("font/sfpro.otf");
}
@font-face {
  font-family: 'laror';
  src: url('font/Laro-Medium.ttf');
}
body {
  margin: 0;
  background-color: #37393a;
}

#content {
  width: 100%;
  height: 100%;
}

#content > .header {
  /*border: 1px solid red;*/
  height: 70px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#content > .header > .wallet {
  /*border: 1px solid #ccc;*/
  width: 55px;
  height: 55px;
}

#content > .header > .wallet > img {
  background: no-repeat;
  width: 100%;
  height: 100%;
}

#content > .header > .mine {
  /*border: 1px solid #ccc;*/
  width: 200px;
  height: 100%;
  text-align: left;
  line-height: 55px;
  font-size: 33px;
  color: #56a6e9;
  font-family: 'laro';
}

#content > .header > .profile {
  /*border: 1px solid #ccc;*/
  width: 55px;
  height: 55px;
}

#content > .header > .profile > img {
  background: no-repeat;
  width: 100%;
  height: 100%;
}

#content > .price {
  /* border: 1px solid red; */
  width: 320px;
  height: 50px;
  margin: auto;
  margin-top: 80px;
}

#content > .price > .items {
  /* border: 1px solid red; */
  float: left;
}

#content > .price > .it1 {
  width: 50px;
  height: 50px;
  background: url("img/Group 1124.png") no-repeat;
  background-size: 100% 100%;
}
#content > .price .it2 {
  font-size: 30px;
  font-family: "laro";
  color: white;
  margin-left: 15px;
}

#content > .userRank {
  /*border: 1px solid red;*/
  font-family: "laro";
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
}

#content > .legendry > img {
  background: no-repeat;
  width: 100%;
  height: 100%;
}

#content > .Coin {
  /*border: 1px solid red;*/

  width: 220px;
  height: 270px;
  margin: auto;
  margin-top: 40px;
}

#content > .Coin > img {
  width: 100%;
  height: 100%;
}

#content > .footer {
  /*border: 1px solid red;*/
  border-radius: 30px 30px 0px 0px;
  width: 100%;
  height: 120px;
  /*margin-top: 64px;*/

  background-color: rgba(0, 0, 0, 0.77);
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: -20px;
}

#content > .footer > .items {
  /* border: 1px solid red; */
  width: 70px;
  height: 65px;
  margin-top: 20px;
  cursor: pointer;

  color: #eeeaea;
  text-align: center;
  font-family: bol;
  line-height: 30px;
}

#content > .footer > .items > .all {
  /* border: 1px solid red; */
  width: 35px;
  height: 35px;
  margin: auto;
  margin-top: 3px;
}

#content > .footer > .it1 > .tasks {
  background: url("img/edit1.png") no-repeat;
  background-size: 100% 100%;
}

#content > .footer > .it1 > .imgtasks {
  /* border: 1px solid red; */
  width: 95%;
  height: 16px;
  margin: auto;
  margin-top: 8px;
  background: url("img/Tasks1.png") no-repeat;
  background-size: 100% 100%;
}

#content > .footer > .it2 > .home {
  background: url("img/Category1.png") no-repeat;
  background-size: 100% 100%;
}

#content > .footer > .it2 > .imghome {
  /* border: 1px solid red; */
  width: 95%;
  height: 16px;
  margin: auto;
  margin-top: 8px;
  background: url("img/Home1.png") no-repeat;
  background-size: 100% 100%;
}

#content > .footer > .it3 > .trade {
  background: url("img/Group1.png") no-repeat;
  background-size: 100% 100%;
}

#content > .footer > .it3 > .imgtrade {
  /* border: 1px solid red; */
  width: 95%;
  height: 16px;
  margin: auto;
  margin-top: 8px;
  background: url("img/Trade1.png") no-repeat;
  background-size: 100% 100%;
}

/*   responsiv   */
.energyBox {
  position: fixed;
  top: 80%;
  width: 100%;
  height: 40px;
  display: flex;
}
.whiteBar {
  margin: 10px;
  background-color: white;
  height: 20px;
  width: 60%;
  border-radius: 15px;
}
.blueBar {
  margin: 10px;
  background-color: #56a6e9;
  width: 60%;
  height: 20px;
  border-radius: 15px;
  z-index: 1;
  position: absolute;
}
.numberEnergy {
  color: white;
  margin: 10px;
  font-family: "SFPro";
  z-index: 2;
  float: right;
}
.ggv {
  margin: 20px;
}
.footertext {
  font-family: 'laror';
  font-size: 24px;
  margin: 0;
  padding: 0;
}
.footerpic img {
  width: 38px;
  padding: 0;
  margin: 0;
}
.boost {
  position: fixed;
  right: 50px;
}
.boost img {
  width: 60px;;
}
#boostBack img {
  width: 60px;
  margin: 30px;
}
#boostDiv {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #37393a;
  width: 100%;
  height: 100%;
  display: none;
}
.boosttitle {
  font-family: 'laro';
  font-size: 25px;
  color: #56a6e9;
  text-align: center;
  margin-left: 13%;
}
.boostheader {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 0;
}
.boostbody {
  position: fixed;
  top: 85px;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.boostItem {
  margin: 5%;
  width: 90%;
  height: 80px;
  border: 3px solid #56a6e9;
  border-radius: 15px;
  font-family: 'SFPro';
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.boostIcon img {
  max-width: 50px;
  margin: 20px;
  margin-right: 0;
  margin-left: 10px;
}
.boostTitle {
  margin: 20px;
  margin-right: 2px;
}
.boostlvl {
  margin: 20px;
  margin-left: 0;
  font-size: 10px;
}
.boostUpgrade button {
  outline: none;
  border: none;
  padding: 10px;
  background-color: #56a6e9;
  border-radius: 8px;
  font-family: 'SFPro';
  color: white;
}
#boostError {
  font-family: 'laror';
  background-color: rgb(245, 42, 42);
  width: 90%;
  margin: 5%;
  color: white;
  height: 50px;
  font-size: 15px;
  margin: 25px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
#mainError {
  background-color: #37393a;
  font-family: 'laro';
  font-size: 30px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  z-index: 10;
  color: white;
}
#mainError button {
  background-color: #56a6e9;
  border-radius: 15px;
  color: white;
  outline: none;
  border: none;
  margin: 15px;
  font-family: 'laror';
  font-size: 20px;
  padding: 15px;
}
#boostBlueBox {
  width: 90%;
  height: 20%;
  margin: 5;
  color: white;
  font-family: 'laror';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  word-wrap: normal;
  text-align: center;
  background-image: url('img/Rectangle\ 37.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.boostUpgrade button:disabled {
  background-color: #29699e;
}