html {
  touch-action: pan-x pan-y;
   user-select: none; 
}
@font-face {
  src: url("Fonts/Laro-Bold.ttf");
  font-family: "laro";
}
@font-face {
  font-family: "SFPro";
  src: url("Fonts/sfpro.otf");
}
@font-face {
  font-family: "laror";
  src: url("Fonts/Laro-Medium.ttf");
}
#mainError {
  background-color: #37393a;
  font-family: "laro";
  font-size: 30px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  z-index: 10;
  color: white;
}
#mainError button {
  background-color: #56a6e9;
  border-radius: 15px;
  color: white;
  outline: none;
  border: none;
  margin: 15px;
  font-family: "laror";
  font-size: 16px;
  padding: 15px;
}
#errorCode {
  color: #717171;
  font-family: "laror";
  font-size: 10px;
}
#loading {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: #cbdef0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#divLoadingContainer {
  width: 230px;
  height: 25px;
  color: white;
  background-color: #5da0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 7px;
  font-size: 20px;
  vertical-align: middle;
  position: relative;
}
#loadProg {
  position: absolute;
  width: 0%;
  height: 25px;
  color: white;
  background-color: #365e96;
  color: white;
  left: 0;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
}
#imglogo {
  max-width: 50px;
  text-align: center;
}
#holyand {
  font-family: 'SFPro';
  font-size: 110px;
  color: #2865bb;
  background-color: transparent;
  padding: 10px;
  margin-bottom: 45px;
}
#notif {
  display: none;
  position: fixed;
  top: -100px; 
  padding: 15px;
  background-color: #333333c2;
  color: #fff;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-self: center;
  align-self: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease-in-out;
  z-index: 3;
  margin: 20px;
}

#notif.show {
  opacity: 1;
  top: 30px;
}
#notif.error1 {
  background-color: #ce19199d;
}
#notif.info1 {
  background-color: #3cc45ac2;
}